/* .header {
    text-align: center;
    color: rgb(235, 146, 30);
    font-size:35px;
    margin: 0;
    background-color: antiquewhite;
    padding: 20px 0;
}

.filterContainer {
    padding: 20px 0;
    background-color: antiquewhite;
}

.label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    color: rgb(91, 84, 57);
}

.input {
    border-radius: 10px;
    height: 30px;
    width: 250px;
    border: none;
    outline: 2px solid rgb(99, 104, 85);
    padding-left: 15px;
    transition-duration: 250ms;
}

.input:focus {
    outline: 2px solid rgb(235, 146, 30);

} */